<a href="https://colab.research.google.com/github/varuns1001/tata_steel/blob/main/palm_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

!pip install google-cloud-aiplatform --upgrade --user

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [81]:
import IPython

app = IPython.Application.instance()
app.kernel.do_shutdown(True)

{'status': 'ok', 'restart': True}

In [ ]:

from google.cloud import aiplatform
aiplatform.init(project = 'tsl-ai-prod', location = "us-central1")

# Automatically restart kernel after installs so that your environment can access the new packages

from vertexai.preview.language_models import TextGenerationModel,\
                                            ChatModel,\
                                            InputOutputTextPair,\
                                            TextEmbeddingModel

from IPython.display import display, Markdown
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import seaborn as sns
generation_model = TextGenerationModel.from_pretrained("text-bison@001")

# import vertexai
# vertexai.init(project = 'tsl-datalake', location = "asia-south1")

In [7]:
def summarizer(text):
  prompt = f"""
          Summarize this following news

          {text}
  """
  response = generation_model.predict(
    prompt,
    temperature=0.7,
    max_output_tokens=1024,
    top_p=0.8
  )
  return response.text

In [8]:
def locater(text):
  prompt = f"""
          Find all the locations from the following text and return a json.

          {text}
  """
  response = generation_model.predict(
    prompt,
    temperature=0.7,
    max_output_tokens=1024,
    top_p=0.8
  )
  return response.text

In [5]:
tata_steel = pd.read_csv('tata steel news.csv')
tata_steel

,Timestamp,Media,Title,Article,Summary,news_url,Sentiment,class,company_name_match_string,country
0,2023-03-03 00:00:00,SteelMint,India: Defence Ministry books 19.5 t of ferro ...,india's ministry of defence conducted a revers...,india's ministry of defence conducted a revers...,NaN,NaN,NaN,[nan],NaN
1,2023-03-06 00:00:00,SteelMint,Turkiye: Manganese alloys imports drop 20% m-o...,\tmanganese alloys imports into turkiye decre...,\tmanganese alloys imports into turkiye decre...,NaN,NaN,NaN,[nan],NaN
2,2023-03-06 00:00:00,SteelMint,Turkiye: Manganese alloys imports drop 20% m-o...,\tmanganese alloys imports into turkiye decre...,\tmanganese alloys imports into turkiye decre...,NaN,NaN,NaN,[nan],NaN
3,2023-05-01 17:15:00,livehindustan.com,तिमाही नतीजे से पहले टाटा के इस शेयर पर एक्सपर...,ऐप पर पढ़ें\n\nStock To Buy: टाटा की कंपनी टाट...,ऐप पर पढ़ेंStock To Buy: टाटा की कंपनी टाटा स्...,https://www.livehindustan.com/business/story-t...,Neutral,Finance & Risk,Tata Steel;Tata Steel Group,Global
4,2023-05-02 00:00:00,businesstoday.in,Tata Steel shares in focus ahead of Q4 earning...,Shares of Tata Steel are in focus today as the...,Shares of Tata Steel are in focus today as the...,https://www.businesstoday.in/markets/company-s...,Neutral,Strategy & Growth,"Tata Steel;Steel Dynamics, Inc.;Tata Steel Group",Global
...,...,...,...,...,...,...,...,...,...,...
1084,2023-01-13 12:30:00,freepressjournal.in,Tata Steel-backed British pension scheme's 60%...,Photo credit: Twitter\n\nThrough a regulatory ...,photo credit: twitterthrough a regulatory fili...,https://www.freepressjournal.in/business/tata-...,Neutral,"Legal, Regulatory, Disclosures & Statutory Rep...","['Acciaieria Arvedi SpA ', 'Ansteel Group', 'A...",NaN
1085,2023-01-18 09:00:00,prabhatkhabar.com,टाटा स्टील जमशेदपुर वर्क्स ने 1.17 मेगावाट की ...,टाटा स्टील जमशेदपुर वर्क्स के वायर रॉड मिल में...,टाटा स्टील जमशेदपुर वर्क्स के वायर रॉड मिल में...,https://www.prabhatkhabar.com/state/jharkhand/...,Neutral,"Legal, Regulatory, Disclosures & Statutory Rep...","['Acciaieria Arvedi SpA ', 'Ansteel Group', 'A...",NaN
1086,2023-01-18 18:10:00,business-standard.com,Tata Steel sets up Centre for Innovation in Mo...,Steel manufacturer has set up a Centre for in ...,steel manufacturer has set up a centre for in ...,https://www.business-standard.com/article/comp...,Neutral,"Legal, Regulatory, Disclosures & Statutory Rep...","['Acciaieria Arvedi SpA ', 'Ansteel Group', 'A...",NaN
1087,2023-01-14 11:43:00,business-standard.com,Tata Steel UK supports BSPS securing insurance...,Balance buy-in of 40% of liabilities to be com...,"as of 30 september 2022, the bsps represented ...",https://www.business-standard.com/article/news...,Positive,Finance & Risk,"['Acciaieria Arvedi SpA ', 'Ansteel Group', 'A...",NaN
1088,2023-01-10 05:00:00,timesofindia.indiatimes.com,"Steel City zoo’s new gate to be opened soon, v...",Jamshedpur: To ensure higher footfall in the T...,jamshedpur: to ensure higher footfall in the t...,https://timesofindia.indiatimes.com/city/ranch...,Positive,Sustainbility & Environment,"['Acciaieria Arvedi SpA ', 'Ansteel Group', 'A...",NaN

In [6]:
tata_steel_subset = tata_steel.loc[0:99]
tata_steel_subset

,Timestamp,Media,Title,Article,Summary,news_url,Sentiment,class,company_name_match_string,country
0,2023-03-03 00:00:00,SteelMint,India: Defence Ministry books 19.5 t of ferro ...,india's ministry of defence conducted a revers...,india's ministry of defence conducted a revers...,NaN,NaN,NaN,[nan],NaN
1,2023-03-06 00:00:00,SteelMint,Turkiye: Manganese alloys imports drop 20% m-o...,\tmanganese alloys imports into turkiye decre...,\tmanganese alloys imports into turkiye decre...,NaN,NaN,NaN,[nan],NaN
2,2023-03-06 00:00:00,SteelMint,Turkiye: Manganese alloys imports drop 20% m-o...,\tmanganese alloys imports into turkiye decre...,\tmanganese alloys imports into turkiye decre...,NaN,NaN,NaN,[nan],NaN
3,2023-05-01 17:15:00,livehindustan.com,तिमाही नतीजे से पहले टाटा के इस शेयर पर एक्सपर...,ऐप पर पढ़ें\n\nStock To Buy: टाटा की कंपनी टाट...,ऐप पर पढ़ेंStock To Buy: टाटा की कंपनी टाटा स्...,https://www.livehindustan.com/business/story-t...,Neutral,Finance & Risk,Tata Steel;Tata Steel Group,Global
4,2023-05-02 00:00:00,businesstoday.in,Tata Steel shares in focus ahead of Q4 earning...,Shares of Tata Steel are in focus today as the...,Shares of Tata Steel are in focus today as the...,https://www.businesstoday.in/markets/company-s...,Neutral,Strategy & Growth,"Tata Steel;Steel Dynamics, Inc.;Tata Steel Group",Global
...,...,...,...,...,...,...,...,...,...,...
95,2023-04-04 00:00:00,SteelMint,India: Copper prices remain rangebound,domestic copper prices remained rangebound d-o...,domestic copper prices remained rangebound d-o...,Not Available,Negative,Finance & Risk,NaN,NaN
96,2023-04-04 00:00:00,SteelMint,India: Downturn in stainless steel prices cont...,domestic stainless steel prices in india conti...,domestic stainless steel prices in india conti...,Not Available,Negative,Finance & Risk,NaN,NaN
97,2023-04-04 00:00:00,SteelMint,India: Melting scrap prices edge lower by INR ...,ship-breaking melting scrap prices dropped by ...,ship-breaking melting scrap prices dropped by ...,Not Available,Negative,Finance & Risk,NaN,NaN
98,2023-04-05 00:00:00,SteelMint,China: Iron ore spot prices drop d-o-d despite...,spot prices of iron ore fe 62% fines dipped by...,spot prices of iron ore fe 62% fines dipped by...,Not Available,Negative,Finance & Risk,NaN,NaN
99,2023-04-05 00:00:00,SteelMint,EU: Steel import continues to slow down in Q1 ...,the european union (eu) steel imports continue...,the european union (eu) steel imports continue...,Not Available,Negative,Finance & Risk,NaN,NaN

In [9]:
tata_steel_subset.columns

Index(['Timestamp', 'Media', 'Title', 'Article', 'Summary', 'news_url',
       'Sentiment', 'class', 'company_name_match_string', 'country'],
      dtype='object')

In [10]:
tata_steel_subset['summary'] = tata_steel_subset['Article'].apply(summarizer)
tata_steel_subset

<ipython-input-10-a8506e538ed4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tata_steel_subset['summary'] = tata_steel_subset['Article'].apply(summarizer)

,Timestamp,Media,Title,Article,Summary,news_url,Sentiment,class,company_name_match_string,country,summary
0,2023-03-03 00:00:00,SteelMint,India: Defence Ministry books 19.5 t of ferro ...,india's ministry of defence conducted a revers...,india's ministry of defence conducted a revers...,NaN,NaN,NaN,[nan],NaN,The Ministry of Defence conducted a reverse au...
1,2023-03-06 00:00:00,SteelMint,Turkiye: Manganese alloys imports drop 20% m-o...,\tmanganese alloys imports into turkiye decre...,\tmanganese alloys imports into turkiye decre...,NaN,NaN,NaN,[nan],NaN,"In January 2023, manganese alloys imports into..."
2,2023-03-06 00:00:00,SteelMint,Turkiye: Manganese alloys imports drop 20% m-o...,\tmanganese alloys imports into turkiye decre...,\tmanganese alloys imports into turkiye decre...,NaN,NaN,NaN,[nan],NaN,Manganese alloys imports into Turkey decreased...
3,2023-05-01 17:15:00,livehindustan.com,तिमाही नतीजे से पहले टाटा के इस शेयर पर एक्सपर...,ऐप पर पढ़ें\n\nStock To Buy: टाटा की कंपनी टाट...,ऐप पर पढ़ेंStock To Buy: टाटा की कंपनी टाटा स्...,https://www.livehindustan.com/business/story-t...,Neutral,Finance & Risk,Tata Steel;Tata Steel Group,Global,
4,2023-05-02 00:00:00,businesstoday.in,Tata Steel shares in focus ahead of Q4 earning...,Shares of Tata Steel are in focus today as the...,Shares of Tata Steel are in focus today as the...,https://www.businesstoday.in/markets/company-s...,Neutral,Strategy & Growth,"Tata Steel;Steel Dynamics, Inc.;Tata Steel Group",Global,Tata Steel is expected to post a 92.4% fall in...
...,...,...,...,...,...,...,...,...,...,...,...
95,2023-04-04 00:00:00,SteelMint,India: Copper prices remain rangebound,domestic copper prices remained rangebound d-o...,domestic copper prices remained rangebound d-o...,Not Available,Negative,Finance & Risk,NaN,NaN,Domestic copper prices remained rangebound on ...
96,2023-04-04 00:00:00,SteelMint,India: Downturn in stainless steel prices cont...,domestic stainless steel prices in india conti...,domestic stainless steel prices in india conti...,Not Available,Negative,Finance & Risk,NaN,NaN,The domestic stainless steel market in India c...
97,2023-04-04 00:00:00,SteelMint,India: Melting scrap prices edge lower by INR ...,ship-breaking melting scrap prices dropped by ...,ship-breaking melting scrap prices dropped by ...,Not Available,Negative,Finance & Risk,NaN,NaN,"Ship-breaking melting scrap prices in Alang, G..."
98,2023-04-05 00:00:00,SteelMint,China: Iron ore spot prices drop d-o-d despite...,spot prices of iron ore fe 62% fines dipped by...,spot prices of iron ore fe 62% fines dipped by...,Not Available,Negative,Finance & Risk,NaN,NaN,The spot price of iron ore fines fell by $1.3...
99,2023-04-05 00:00:00,SteelMint,EU: Steel import continues to slow down in Q1 ...,the european union (eu) steel imports continue...,the european union (eu) steel imports continue...,Not Available,Negative,Finance & Risk,NaN,NaN,EU steel import quotas continued to slow down ...

In [17]:
tata_steel_subset.loc[0,'Article']

"india's ministry of defence conducted a reverse auction for 19.4 t of ferro molybdenum (mo-60-65% min, size: 25-50 mm) for its metal and steel factory, ishapore, west bengal through reverse auction on 1 march'23. the material was booked at inr 4,325,070/t for (inclusive of all charges), sources informed."

In [19]:
locater(tata_steel_subset.loc[0,'Article'])

'{\n    "locations": [\n      "ishapore",\n      "west bengal"\n    ]\n  }'

In [ ]:
tata_steel_subset['location'] = tata_steel_subset['Article'].apply(locater)